<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <style>
    #myTab {
      margin-top: 20px;
    }
    #accordionExample {
      margin-top: 20px;
    }
    .card-header {
      background-color: #fff;
      border-bottom: none;
    }
    .card {
      border: none;
      border-bottom: 1px solid #ddd !important;
    }
    .card-body {
      padding: 0;
    }
    .disk-desc-list {
      margin: 0 0 0 80px;
      padding: 0;
    }
    .disk-desc-list .desc-item {
      list-style: none;
      display: flex;
      margin-bottom: 10px;
    }
    .disk-section {
      display: flex;
      margin-left: 50px;
    }
    .disk-desc-list .desc-item .title {
      width: 120px;
      color: #999;
    }
    .disk-desc-list .desc-item .content {
      flex: 1;
    }
  </style>
</head>
<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">OpenWrt</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Status
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Overview</a>
              <a class="dropdown-item" href="#">Firewall</a>
              <a class="dropdown-item" href="#">Routes</a>
              <a class="dropdown-item" href="#">System Log</a>
              <a class="dropdown-item" href="#">Kernel Log</a>
              <a class="dropdown-item" href="#">Processes</a>
              <a class="dropdown-item" href="#">Realtime Graphs</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              System
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Network
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General Setting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="port-tab" data-toggle="tab" href="#port" role="tab" aria-controls="port" aria-selected="false">Port Forwards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="trafffic-tab" data-toggle="tab" href="#trafffic" role="tab" aria-controls="trafffic" aria-selected="false">Trafffic Rlues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="custom-tab" data-toggle="tab" href="#custom" role="tab" aria-controls="custom" aria-selected="false">Custom Rules</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <!-- 第一个模块开始 -->
      <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div class="accordion" id="accordionExample">
          <!-- <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Sda
                </button>
              </h5>
            </div>
        
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="disk-desc-list">
                  <li class="desc-item">
                    <div class="title">磁盘信息：</div>
                    <div class="content">111222333</div>
                  </li>
                  <li class="desc-item">
                    <div class="title">磁盘信息：</div>
                    <div class="content">111222333</div>
                  </li>
                  <li class="desc-item">
                    <div class="title">磁盘信息：</div>
                    <div class="content">111222333</div>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
          <!-- <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Sdb
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <ul class="disk-desc-list">
                  <li class="desc-item">
                    <div class="title">磁盘信息：</div>
                    <div class="content">111222333</div>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->
        </div>
      </div>
      <!-- 第一个模块结束 -->

      <!-- 第二个模块开始 -->
      <div class="tab-pane fade" id="port" role="tabpanel" aria-labelledby="port-tab">
        Port Forwards
      </div>
      <!-- 第二个模块结束 -->

      <!-- 第三个模块开始 -->
      <div class="tab-pane fade" id="trafffic" role="tabpanel" aria-labelledby="trafffic-tab">
        Trafffic Rlues
      </div>
      <!-- 第三个模块结束 -->

      <!-- 第四个模块开始 -->
      <div class="tab-pane fade" id="custom" role="tabpanel" aria-labelledby="custom-tab">
        Custom Rules
      </div>
      <!-- 第四个模块结束 -->
    </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script>
    const data = [
      { disk: 'sda', options: [{name: 'sda1', desc: '磁盘信息'}, {name: 'sda2', desc: '磁盘信息'}, {name: 'sda3', desc: '磁盘信息'}] },
      { disk: 'sdb', options: [{name: 'sdbc', desc: '磁盘信息'}] },
      { disk: 'sdc', options: [] }
    ]
    const accordionExample = $("#accordionExample")
    let html = ''
    let diskItemHtml = ''
    // <div class="card">
    //   <div class="card-header" id="headingOne">
    //     <h5 class="mb-0">
    //       <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    //         Sda
    //       </button>
    //     </h5>
    //   </div>
  
    //   <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
    //     <div class="card-body">
    //       <ul class="disk-desc-list">
    //         <li class="desc-item">
    //           <div class="title">磁盘信息：</div>
    //           <div class="content">111222333</div>
    //         </li>
    //         <li class="desc-item">
    //           <div class="title">磁盘信息：</div>
    //           <div class="content">111222333</div>
    //         </li>
    //         <li class="desc-item">
    //           <div class="title">磁盘信息：</div>
    //           <div class="content">111222333</div>
    //         </li>
    //       </ul>
    //     </div>
    //   </div>
    // </div>
    for (let i = 0; i < data.length; i++) {
      diskItemHtml = ''
      for (let j = 0; j < data[i].options.length; j++) {
        diskItemHtml += `
          <li class="desc-item">
            <div class="disk-section">
                <div class="title">分磁盘名称：</div>
                <div class="content">${data[i].options[j].name}</div>
            </div>
            <div class="disk-section">
                <div class="title">分磁盘信息：</div>
                <div class="content">${data[i].options[j].desc}</div>
            </div>
          </li>
        `
      }
      
      html += `
      <div class="card">
        <div class="card-header" id="heading${i}">
          <h5 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse${i}" aria-expanded="true" aria-controls="collapse${i}">
              ${data[i].disk}
            </button>
          </h5>
        </div>
    
        <div id="collapse${i}" class="collapse ${i === 0 ? 'show' : ''}" aria-labelledby="heading${i}" data-parent="#accordionExample">
          <div class="card-body">
            <ul class="disk-desc-list">
              ${diskItemHtml}
            </ul>
          </div>
        </div>
      </div>
      `
    }

    accordionExample.append(html)
  </script>
</body>
</html>