<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>网页管理系统磁盘</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
    .radio-wrap {
      width: 500px;
      margin: 100px auto 20px;
      border: 1px solid #ddd;
    }
    .section {
      display: flex;
      min-height: 50px;
      border-bottom: 1px solid #ddd;
    }
    .section:last-child {
      border-bottom: none;
    }
    .section .title {
      display: flex;
      flex: 0 0 80px;
      align-items: center;
      justify-content: center;
      border-right: 1px solid #ddd;
      color: #aaa;
    }
    .section .radio-list {
      display: flex;
      margin: 0;
      padding: 0;
      align-items: center;
      flex-wrap: wrap;
      padding-bottom: 10px;
    }
    .radio-list .radio-item {
      list-style: none;
      margin-left: 12px;
      margin-top: 10px;
    }
    .btn-list {
       display: flex;
        justify-content: center;
    }
    .btn-list .btn {
        margin-left: 10px;
    }
    .btn-.ist .btn:first-of-type {
      margin-left: 0;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">OpenWRT</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Status
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Overview</a>
              <a class="dropdown-item" href="#">Firewall</a>
              <a class="dropdown-item" href="#">Routes</a>
              <a class="dropdown-item" href="#">System Log</a>
              <a class="dropdown-item" href="#">Kernel Log</a>
              <a class="dropdown-item" href="#">Processes</a>
              <a class="dropdown-item" href="#">Realtime Graphs</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              System
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Services
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Network
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Action</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </nav>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General Setting</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="port-tab" data-toggle="tab" href="#port" role="tab" aria-controls="port" aria-selected="false">Port Forwards</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="trafffic-tab" data-toggle="tab" href="#trafffic" role="tab" aria-controls="trafffic" aria-selected="false">Trafffic Rlues</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="custom-tab" data-toggle="tab" href="#custom" role="tab" aria-controls="custom" aria-selected="false">Custom Rules</a>
      </li>
    </ul>
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
        <div>
            <h2>Disk status</h2>
            <div>
            <ul class="list-group list-group-flush">
                {% for Disk_status in Diskdata %}
                    <li class="list-group-item">{{ Disk_status }}</li>
                {% endfor %}
            </ul>
            </div>
        </div>
      </div>
      <div class="tab-pane fade" id="port" role="tabpanel" aria-labelledby="port-tab">
        <div class="radio-wrap" id="radioWrap"></div>
          <div class="btn-list">
            <button type="button" class="btn btn-primary">确定</button>
            <button type="button" class="btn btn-primary">取消</button>
          </div>
      </div>
      <div class="tab-pane fade" id="trafffic" role="tabpanel" aria-labelledby="trafffic-tab">
        Trafffic Rlues
      </div>
      <div class="tab-pane fade" id="custom" role="tabpanel" aria-labelledby="custom-tab">
        Custom Rules
      </div>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
<script>
  const data = {{  }}
      [
    { disk: 'sda', options: [{name: 'sda1', desc: 'xinxi'},{name: 'sda2', desc: 'xinxi'}] },
    { disk: 'sdb', options: ['sdb1'] },
    { disk: 'sdb', options: [] }
  ]

const radioWrap = $('#radioWrap')
let html = ''
for(let i = 0; i < data.length; i++) {
  const disk = data[i].disk
  let optionsHtml = ''
  for (let j = 0; j < data[i].options.length; j++) {
    optionsHtml += `
      <div class="radio-item">
        <label><input type="checkbox" name="${disk}" ${j === 0 ? 'checked' : ''}>${data[i].options[j]}</label>
      </div>
    `
  }
  html += `
    <div class="section">
      <div class="title">${disk}</div>
      <div class="radio-list">
        ${optionsHtml}
      </div>
    </div>
  `
}
radioWrap.append(html)
</script>
</html>